.card {
  flex: 1 200px;
  padding: 0.5rem;
  border: solid black 2px;
  white-space: pre-line;
  margin: 0.5rem 0.5rem;
  max-width: 30rem;
  cursor: pointer;
}

.card:hover {
  background-color: #2196f3;
}

.card-wrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

svg {
  max-width: 100%;
  max-height: 20rem;
}
