.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar ul {
  color: white;
  list-style: none;
  font-size: 2rem;
}

.sidebar li {
  font-size: 0.5rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .btn-close {
  position: absolute;
  top: 0.2rem;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  border: none;
  left: 0.5rem;
}

.radio {
  margin: 0.5rem;
  vertical-align: middle;
}

label {
  font-size: 1rem;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
