.sidebar {
  height: 100%;
  width: 16rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar ul {
  color: white;
  list-style: none;
  font-size: 2rem;
}

.sidebar span {
  text-decoration: underline;
}

.sidebar li {
  font-size: 0.5rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .btn-close {
  position: absolute;
  top: 0.9rem;
  right: 1.9rem;
  font-size: 36px;
  color: white;
  cursor: pointer;
  border: none;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  /*margin-bottom: 12px;*/
  margin: 0.8rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container:hover .radio ~ .check {
  filter: brightness(70%);
}

/*.radio:checked ~ .check {
  background-color: #2196f3;
}*/

.ischecked {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #2196f3;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/*.check:after {
  content: '';
  position: absolute;
  display: none;
}*/

.radio-container .radio:checked ~ .check:after {
  display: block;
}

.radio-container .check:after {
  width: 0; /*Hide dot in radio button*/
  border-radius: 50%;
  background: white;
}

.radio {
  position: absolute;
  opacity: 0;
}

.label {
  cursor: pointer;
  font: 300 1.2rem 'Open Sans', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
