html {
  height: 100%;
}

.container-menu-closed {
  display: grid;
  grid-template-columns: auto auto 1.6rem;
}

.container-menu-open {
  display: grid;
  grid-template-columns: auto auto 16rem;
}

.card-wrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin-left: 0.5rem;
}

.hamburger {
  font-size: 2.3rem;
  cursor: pointer;
  margin: 0.5rem 0 0 1rem;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
